@{
    ViewData["Title"] = "Home Page";
}
<style>

    .Snimka img {
        width: 90%;
        border-radius: 5%;
        height: 5%
    }

    .Snimka p {
        position: absolute;
        top: 15.9%;
        left: 50.8%;
        text-align: center;
        padding: 10px 20px;
        color: white;
        font-size: 40px;
        transform: translate(-50%, -50%);
        color: azure;
        text-shadow: 2px 2px black;
    }
</style>
<div class="text-center">
    <div class="Snimka">
        <img src="https://wallpapercave.com/wp/wp7050216.jpg" />
            <p>
                Туристическа агенция "Adventure"
            <p>

    </div>
   </div>
