@model TuristicheskaAganciq.Data.Destination

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли за дестинация</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Дестниация: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Държава: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Countries.Name)
        </dd>
        <dt class = "col-sm-2">
            Дата на промяна: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-primary" asp-action="Index">Назад</a>
</div>
